@import url('imagenes/pizarron.jpg'); 

body {
    background-image: url('../imagenes/lupa.jpg'); 
    font-family: GodOfWar, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

header h2 {
  font-family:  GodOfWar, Helvetica, sans-serif;
  margin: 0px;
  font-size: 5em;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 5px #000;
  text-align: center;
}

header {
  text-align: center;
  padding: 0.3em;
  background-color: rgba(0, 0, 0);
  border-bottom: 2px solid #444;
}

header.sticky {
  position: sticky;
  top: 0;
  
}
/*menu*/
nav ul{
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right:60px;
  margin-left: 68px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 16px 18px;
  text-decoration: none;
}

/* Contenedor principal flex para casos */
.cases-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px;
  padding: 2rem;
  justify-items: center; 
}

/* Diseño 1: Tarjetas con imagen y texto sobre un degradado */

.case-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  background-color: #000000;
  padding: 2rem 2rem;
}


.case-card:hover {
  transform: scale(1.05);
}

.case-card img {
  width: 80%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.case-card {
  position: relative;
  bottom: 0;
  padding: 1rem 1.5rem;
  background-color:black;
  width: 450px;
  box-sizing: border-box;
}

.case-card h2 {
  margin: 0 0 0.3rem 0;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  color: white;
}

.case-card p {
  margin: 0;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2em;
  color: white;
}


section {
  max-width: 600px;
  margin: 10px 10px 10px 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  text-align: justify;
}


.button1{
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
}

.button2{
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
}

.button3{
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
}

.button4{
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
}

.button5{
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgba(20, 20, 20, 0.85);
}


footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0);
  width:100%;
  font-family:GodOfWar, Helvetica, sans-serif;
}

