/* Estilo general */
body {   
  font-family: GodOfWar, Helvetica, sans-serif;
  margin: 0;
  background-color: #0d0d0d;
  color: #f2f2f2;
  background-image: url('../imagenes/lupa.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: brightness(0.6);
}

/* Encabezado */
header h2 {
  font-family:  GodOfWar, Helvetica, sans-serif;
  margin: 0px;
  font-size: 5em;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 5px #000;
  text-align: center;
}

header {
  text-align: center;
  padding: 0.3em;
  background-color: rgba(0, 0, 0);
  border-bottom: 2px solid #444;
}
header.sticky {
  position: sticky;
  top: 0;
}

/* Menú */
nav {
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

nav ul li a.activo {
  border-bottom: 2px solid crimson;
}


/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1100;
}

/* Secciones */
section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(20, 20, 20, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  text-align: center;
}

/* Texto general */
p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* Imágenes de galería */
section img {
  width: 100%;
  max-width: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  font-family: GodOfWar, Helvetica, sans-serif;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  section img {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  header h2 {
    font-size: 3em;
  }

  p {
    font-size: 18px;
  }
}
