body{   
  font-family: GodOfWar, Helvetica, sans-serif;
  margin: 0;
  background-color: #0d0d0d;
  color: #f2f2f2;
  background-image: url('../imagenes/lupa.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: brightness(0.6);
}

header h2 {
  font-family:  GodOfWar, Helvetica, sans-serif;
  margin: 0px;
  font-size: 5em;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 5px #000;
  text-align: center;
}

header {
  text-align: center;
  padding: 0.3em;
  background-color: rgba(0, 0, 0);
  border-bottom: 2px solid #444;
}

/*menu*/
nav ul{
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right:60px;
  margin-left: 68px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 16px 18px;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(20, 20, 20, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
}

p {
  font-size: 24px;
  text-align: center;
}


.caso04 img{
  width: 350px;
}

.caso10 img{
  width: 350px;
}

.caso17 img{
  width: 350px;
}

.caso21 img{
  width: 350px;
}

.caso28 img{
  width: 350px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0);
  width:100%;
  font-family:GodOfWar, Helvetica, sans-serif;
}